:root {
  --gradient: linear-gradient(to left top, #F5EAE3 10%, #BD764C 90%) !important;
  --correct: linear-gradient(to left top, #2EB62C 10%, #83D475 90%) !important;
}

@font-face {
  font-family: Proxima Nova;
  src: url("./assets/images/Proxima-Nova-Font.otf") format("opentype");
}

@font-face {
  font-family: Proxima Nova;
  font-weight: bold;
  src: url("./assets/images/Proxima-Nova-Font.otf") format("opentype");
}

body {
  font-family: Proxima Nova;
  font-weight: bolder;
  color: rgb(250, 250, 250, 0.8);
  background: #111 !important;
}

#root{
  background-image: url("./assets/images/concert7.png");
  background-size: cover;
  background-position: center;
  height: 100%;

}

html, body{

}

.blank-row{
  height: 1000px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.jumbotron{
  height: 400px;
  background-color: #222;
  background-image: url("./assets/images/spirit2.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 40px 5px white;
  border-radius: 20px;
  margin-top: 100px;
  -webkit-animation: kenburns-bottom 15s ease-out both;
  animation: kenburns-bottom 15s ease-out both;
  
}

.jumbotron p {
  font-size: 19px;
  
}
.small {
  font-weight: 300;
  font-style: italic;
}

.centered-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand{
  font-weight: bolder;
  font-size: 30px;
}

.navbar-brand:hover{
  font-size: 45px;
}

#spotify-logo-header{
  height: 70px;
  width: 70px;
}

#navbar-brand:hover #spotify-logo-header{
  height: 90px;
  width: 90px;
}

#game-logo-header{
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.nav-link{
  font-size: 25px;
}

.login-link{
  margin-right: 20px;
}

.nav-link:hover{
  font-size: 35px;
}

.nav-link:hover #game-logo-header{
  height: 55px;
  width: 55px;
}

.gradient-button{
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
  font-size: 20px;
-webkit-box-decoration-break: clone !important;
}

.gradient-button:hover{
  font-size: 25px;
}

.gradient-text {
  background: -webkit-linear-gradient(#F5EAE3, #BD764C) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
-webkit-box-decoration-break: clone !important;
}

.white-text {
  color: rgba(250, 250, 250, 0.8);
}

.gradient-border{
  border-image: linear-gradient(45deg, #F5EAE3, #BD764C) 1;
  border-style: solid;
  border-width: 2px;
}

.gradient-border-bottom{
  border: 0px;
  border-bottom: 4px solid;
  border-image: linear-gradient(45deg, #F5EAE3, #BD764C) 1;
  border-image-slice: 1;
}

.prof-pic{
  opacity: .9;
}

.list-group-item{
  background-color: #222;
  border-image: linear-gradient(45deg, #F5EAE3, #BD764C) 1;
  border-style: solid;
  border-width: 4px;
  font-size: 20px;
}

.list-group{
  border-image: linear-gradient(45deg, #F5EAE3, #BD764C) 1;
  border-style: solid;
  border-width: 2px;
  margin-top: 10px;
  font-size: 15px;
}

.top-artist-cards{
  background: #222;
  border-image: linear-gradient(45deg, #F5EAE3, #BD764C) 1;
  border-style: solid;
  border-width: 2px;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.image-box{
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}

.top-artist-cards:hover img {
  opacity: 0.7;
  -webkit-transform:scale(1.45);
  -moz-transform:scale(1.45);
  -ms-transform:scale(1.45);
  -o-transform:scale(1.45);
  transform:scale(1.45);
}

.top-artist-cards:hover{
  color: #F5EAE3;
  box-shadow: 0px 15px 26px rgba(250, 250, 250, 0.8);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transform: scale(1.15);

}

.my-playlists-card{
  background: #222;
  border-image: linear-gradient(45deg, #F5EAE3, #BD764C) 1;
  border-style: solid;
  border-width: 4px;
  color: rgba(250, 250, 250, 0.8);
}

.playlist-card-item{
  font-size: 16px;
}

.my-playlists-card:hover img {
  opacity: 0.7;
  -webkit-transform:scale(1.45);
  -moz-transform:scale(1.45);
  -ms-transform:scale(1.45);
  -o-transform:scale(1.45);
  transform:scale(1.45);
}

.my-playlists-card:hover{
  color: #F5EAE3;
  box-shadow: 0px 15px 26px rgba(250, 250, 250, 0.8);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transform: scale(1.15);

}

.modal-content{
  background-color: #222;
}

.modal-header{
  background-color: #44323B
}

iframe{
  width: 90%;
  height: 100px;
  border-radius: 12px;
}

.dark-modal{
  background-color: #222
}

.dropdown-toggle{
  background: #111;
}

.dropdown-menu{
  background: var(--gradient) !important;
  border: solid 3px black rounded;
}

.dropdown-item{
  color:rgba(250, 250, 250, 0.8);
  text-align: center;
  font-size: 18px;
}

.dropdown-toggle{
  background: var(--gradient) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  font-size: 20px;
  border: 1px solid var(--gradient) !important;
  font-weight: bold;
}

.my-btn{
  background: var(--gradient) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  font-size: 20px;
  border: 1px solid var(--gradient) !important;
  font-weight: bold;
  -webkit-box-decoration-break: clone !important;
}

.my-next-btn{
  background: var(--gradient) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  font-size: 30px;
  border: 5px solid  !important;
  font-weight: bold;
  transition: all .4s ease;
  border-image-slice: 1 !important;
  border-image-source:  var(--gradient) !important;
  -webkit-box-decoration-break: clone !important;
}

.playlist-selector-img{
  height: 80px;
  width: 80px;
  margin: 5px;
  border: solid white .5px;
}

.playlist-selector-items{
  background: #111 !important; 
  width: 80%;
  border-radius: 20px;
  border: 2px solid white;
  margin-top: 20px !important;
  color:rgba(250, 250, 250, 0.8);
  font-size: 20px;
}

.playlist-selector-items button{
  background: var(--gradient) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  font-size: 20px;
  border: 1px solid var(--gradient) !important;
  font-weight: bold;
  -webkit-box-decoration-break: clone !important;
}

.playlist-selector-items:hover{
  width: 90%;
  font-size: 25px;

}

.playlist-selector-items:hover button{
  font-size: 20px;
}

.playlist-selector-items button:hover{
  animation: shake 0.4s;
}

@keyframes shake{
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

#playlist-selector-instructions{
  font-size: 18px !important;
  margin: 10px;
  text-align: center;
}

.scoreboard{
  border-image: linear-gradient(45deg, #F5EAE3, #BD764C) 1;
  border-style: solid;
  border-width: 4px;
  color: rgba(250, 250, 250, 0.8);
  margin-right: 20px;
  background: #222
}

#scoreboard-title p{
  font-size: 25px;
}

#scoreboard-title{
  border-image: linear-gradient(45deg, #F5EAE3, #BD764C) 1;
  border-bottom: solid;
  border-width: 4px;
}

.scoreboard p{
  font-size: 25px;
  padding-top: 5px;
}

.my-bottom-border{
  border-image: linear-gradient(45deg, #F5EAE3, #BD764C) 1;
  border-bottom: solid;
  border-width: 4px;
}

.my-right-border{
  border-image: linear-gradient(45deg, #F5EAE3, #BD764C) 1;
  border-right: solid;
  border-width: 4px;
}

.start-game-btn{
  font-size: 30px;
  width: 90%;
  margin-top: 80px;
}

.start-game-btn:hover{
  font-size: 40px;
  margin-top: 40px;
}

#game-playlist-image{
  max-height: 250px;
}

#text-me{
  position: absolute !important;
  z-index: 999 !important;
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  top: 20% !important;
  width: 80% !important;
}

.overlay-box{
  position: relative !important;
  display: inline-block;
  margin-left: 10px;
}

.overlay-text{
  position: absolute !important;
  z-index: 999 !important;
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  top: 20% !important;
  width: 80% !important;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}


.answer-modal-img{
  max-height: 400px;
}

.correct{
  background: linear-gradient(to left top, #2EB62C 10%, #83D475 90%);
  border: white solid 2px;
  border-radius: 30px;
  padding: 10px;
}

.incorrect{
  background: linear-gradient(to left top, #961E1E 10%, #CB5F5F 90%);
  border: white solid 2px;
  border-radius: 30px;
  padding: 10px;
}

.correct-text{
  color: green;
  
}

.incorrect-text{
  color: red;
}

.answer-modal-img{
  border-radius: 20px;
  border: solid white 2px;
}

.answer-modal p{
  font-size: 20px;
  text-align: center;
}

.game-song-img{
  border: solid white 4px;
  border-radius: 20px;
}

.x-icon-show{
  height: 50px;
  padding-top: 1px;
}

.x-icon-hide{

  display: none;
}

.next-button{
background:    #F5EAE3;
background:    linear-gradient(#F5EAE3, #BD764C);
border:        3px solid #f3f3f3;
border-radius: 11px;
padding:       20px 45px;
color:         #ffffff;
display:       inline-block;
text-align:    center;
font-size: 30px;
}

.post-score-button{
  background:    #0000ff;
  background:    linear-gradient(#0000ff, #669dce);
  border:        3px solid #f3f3f3;
  border-radius: 11px;
  padding:       20px 45px;
  color:         #ffffff;
  display:       inline-block;
  text-align:    center;
  font-size: 30px;
  }

  .linkedin-logo{
    height: 75px;
    width: 75px;
   }

   .github-img{
    height: 75px;
    width: 75px;
  }

  footer {
    position: absolute;
    
    width: 100%;
    border-top: 3px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    border-image-source:  var(--gradient) !important;
    height: 100px;
    
  }

  .game-container{
    min-height: 500px;
  }

  #spotify-button{
    font-size: 25px !important;
  }

  #leaderboard-container{
    min-height: 1000px;
  }

  th{
    text-align: center;
    font-size: 26px;
    padding: 2px !important;
  }

  td{
    text-align: center;
    font-size: 20px;
    padding: 5px !important;
  }

  .leaderboard-img{
    height: 100px;
    width: 100px;
    border: solid white 1px;
  }

  .selection-btns{
    font-size: 20px;
    width: 160px;
    height: 100px;
  }

  #post-score{
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    border-radius: .5s;
    border: none;
    transition: width .5s,
    border-radius .5s
  }

  #post-score *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
  }

  .my-icon{
    opacity: 0;
  }

  #post-score:focus{
    width: 100px;
    background-color: #44c08a;
    border-radius: 50%;
  }

  #post-score:focus .my-text{
    opacity: 0;
  }

  #post-score:focus .my-icon{
    opacity: 1;
    transition-delay: .5s;
    font-size: 50px;
  }

  .pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge-green {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(147deg 100% 16%) 0%,
      hsl(147deg 100% 32%) 8%,
      hsl(147deg 100% 32%) 92%,
      hsl(147deg 100% 16%) 100%
    );
  }
  .edge-blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(240deg 100% 16%) 0%,
      hsl(240deg 100% 32%) 8%,
      hsl(240deg 100% 32%) 92%,
      hsl(240deg 100% 16%) 100%
    );
  }
  .edge-red {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  .front-red {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

  .front-blue {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(240deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

  .front-green {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(141deg 100% 34%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front-green {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:hover .front-red {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:hover .front-blue {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front-red {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:active .front-green {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:active .front-blue {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:active .front-gold {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

  @-webkit-keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }
  @keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }
  
  .kenburns-bottom {
    -webkit-animation: kenburns-bottom 15s ease-out both;
            animation: kenburns-bottom 15s ease-out both;
  }

@media screen and (max-width: 768px){

  .navbar-brand{
    font-size: 20px;
  }

  #spotify-logo-header{
    height: 60px;
    width: 60px;
  }

  .nav-link{
    font-size: 20px;
  }

  .overlay-box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
  }

  .col-lg-3 .row{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .row h1 {
    font-size: 24px;
  }

  .tab-content{
    margin-top: 10px;
  }

  .scoreboard{
    margin: 40px;
  }

  .scoreboard p {
    font-size: 20px;
  }

  #scoreboard-title p {
    font-size: 20px;
  }

  .col-lg-5{
    display: flex;
    justify-content: center;
  }

  .game-container{
    margin-top: 0px !important;
  }

  .hover-img{
    padding: 2px;
  }

  .info-info{
    display: block !important;
  }

  #pls{
    font-size: 24px !important;
  }

  #right-pop{
    font-size: 20px;
  }

  #left-pop{
    font-size: 20px;
  }

  .my-next-btn{
    font-size: 20px;
  }

  .dark-modal{
    padding-right: 20px;
  }

  .next-button{
    font-size: 20px;
  }

  .post-score-button{
    font-size: 20px;
  }
}