body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

body {
  background: #111 !important;
}

.navbar{
  border: 1px solid #1DB954;
  color: rgba(250, 250, 250, 0.8);
}

.navbar-brand{
  color: #1DB954 !important;
  font-weight: bolder;
  font-size: 30px;
}

